<div class="bg"></div>
<cl-top-app-bar></cl-top-app-bar>
<div class="home1"><img src="assets/home-1-icon.svg" alt="" class="home1__icon" /></div>
<div class="vector"><img src="assets/vector-icon.svg" alt="" class="vector__icon2" /></div>
<div class="banner1"></div>
<div class="root__skiing">
  <div class="root__skiing__image6"></div>
  <div class="root__skiing__rectangle2"></div>
  <div class="root__skiing__skiing2">Skiing</div>
</div>
<cl-winter-sport-activity-button></cl-winter-sport-activity-button>
<cl-winter-sport-activity-button></cl-winter-sport-activity-button>
<cl-winter-sport-activity-button></cl-winter-sport-activity-button>
<cl-winter-sport-activity-button></cl-winter-sport-activity-button>
<cl-winter-sport-activity-button></cl-winter-sport-activity-button>
<cl-winter-sport-activity-button></cl-winter-sport-activity-button>
<cl-winter-sport-activity-button></cl-winter-sport-activity-button>
<cl-winter-sport-activity-button></cl-winter-sport-activity-button>
<cl-winter-sport-activity-button></cl-winter-sport-activity-button>
<cl-checkmark-button></cl-checkmark-button>
